{{!-- <div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Blog 1</h4>
  </div>
  <div class="card-body">
    <p>
      Click on the button below to see the our blogs!
      You don't even have to sign in.
    </p>
    <a class="blog-link" href="./dashboard">
      <button type="button" class="btn btn-lg btn-block btn-primary">Let's See The Blogs</button>
    </a>
  </div>
</div>
<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Blog 2</h4>
  </div>
  <div class="card-body">
    <p>
      Click on the button below to see the our blogs!
      You don't even have to sign in.
    </p>
    <a class="blog-link" href="./dashboard">
      <button type="button" class="btn btn-lg btn-block btn-primary">Let's See The Blogs</button>
    </a>
  </div>
</div>
<div class="card mb-4 box-shadow">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">Blog 3</h4>
  </div>
  <div class="card-body">
    <p>
      Click on the button below to see the our blogs!
      You don't even have to sign in.
    </p>
    <a class="blog-link" href="./dashboard">
      <button type="button" class="btn btn-lg btn-block btn-primary">Let's See The Blogs</button>
    </a>
  </div>
</div> --}}


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/js/add-post.js"></script>