<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Blogs</h4>
      </div>
      <div class="card-body">
        <p>
          Click on the button below to see the our blogs!
          You don't even have to sign in.
        </p>
        <a class="blog-link" href="/dashboard">
          <button type="button" class="btn btn-lg btn-block btn-primary">Let's See The Blogs</button>
        </a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Log In</h4>
      </div>
      <div class="card-body">
        <p>Click on the button below to sign in and be able to post blogs and leave comments. </p>
        <a class="login-link" href="/login">
          <button type="button" class="btn btn-lg btn-block btn-primary">Log In</button>
        </a>
      </div>
    </div>
  </div>
</div>